@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@1,300..800&display=swap')
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Melhora o modelo de caixa */
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    color: #fff;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 400; /* Escolha um peso de fonte adequado */
  }

.anton {
    font-family: "Anton", sans-serif;
    font-weight: 400; /* Aqui você pode escolher o peso de fonte desejado */
}
/* Estilos base */
.container {
    max-width: 1200px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza horizontalmente */
}

img, iframe, video {
    max-width: 100%; /* Tornar imagens, vídeos e iframes responsivos */
    height: auto;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, input, textarea, select, button {
    max-width: 100%; /* Tornar o texto e elementos de formulário responsivos */
}

ul, ol {
    padding-left: 20px; /* Espaçamento interno para listas */
}

table {
    width: 100%; /* Tornar tabelas responsivas */
    border-collapse: collapse;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Media queries para dispositivos com largura máxima de 768px */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%; /* Reduz a largura máxima para dispositivos menores */
    }
}

/* Media queries para dispositivos com largura máxima de 480px */
@media only screen and (max-width: 480px) {
    .container {
        max-width: 100%; /* Reduz ainda mais a largura máxima para dispositivos muito pequenos */
    }
}

/* Barra de navegação */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo com transparência */
    z-index: 1000; /* Garante que a barra de navegação fique acima do conteúdo */
    transition: background-color 0.3s ease; /* Animação de transição suave */
}

/* Estilos dos itens da barra de navegação */
.nav-bar li {
    display: inline-block;
    margin: 0 10px;
}

.nav-bar li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px; /* Centraliza verticalmente */
    padding: 0 10px;
    transition: color 0.3s ease; /* Animação de transição suave */
}

.nav-bar li a:hover {
    color: #ccc;
}

/* Estilos da seção "Join" */
.join {
    font-family:"Anton", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 0; /* Alterado para 0 para alinhar com o cabeçalho */
}

.join li {
    list-style: none; /* Remove marcadores de lista */
    display: inline-block;
    margin: 0 10px;
    height: 40px; /* Definindo a mesma altura dos botões de navegação */
    line-height: 40px; /* Centralizando verticalmente o texto */
}

.join li a {
    color: #f8f5f5;
    text-decoration: none;
    transition: color 0.3s ease; /* Animação de transição suave */
}

.join li a:hover {
    color: #f7f4f4;
}


/* Imagem grande */
.large-image {
    background-image: url("media/image/feature/2157195.png");
    background-repeat: no-repeat;
    background-size: cover; /* Alterado para cover para ocupar toda a tela */
    padding: 0; /* Removido o padding */
    margin: 0; /* Removido o margin */
    height: 100vh; /* Ocupa toda a altura da tela */
    border-bottom: 10px;
}


.home {
    width: auto; /* Largura definida */
    height: 50px; /* Altura definida */
    margin-top: 10px; /* Espaçamento superior */
    margin-inline: 10px; /* Espaçamento lateral */
    position: absolute; /* Posição absoluta para posicionamento preciso */
    top: 0; /* Alinhar o topo com o topo do pai (barra de navegação) */
    left: 10px; /* Espaçamento à esquerda */
}


/* Lista de opções */
.seven-option li {
    padding: 10px;
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    border: 10px;
    border-radius: 20px;

}

.seven-option li:hover {
    background-color: #897a08;
    border: 10px;
    border-radius: 20px;
}


/* Estilos para a classe .options */
.options {
    display: flex;
    justify-content: center;
}

/* Estilos para a classe .option */
.option {
    display: flex;
    align-items: center;
}

/* Estilos para a classe .option li */
.option li {
    list-style: none;
    margin-right: 20px;
}

/* Estilos para a classe .option li a */
.option li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.option li a:hover {
    color: #ccc;
}

/* Efeito de zoom em hover */
.activision:hover {
    transform: scale(1.2);
}

/* Container com três lados */
.three-sided-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 10px;
}
.front-img {
    display: block;
    unicode-bidi: isolate;
    background-color: #a09e12;
    border-radius: 5px;
}

/* Estilos dos desenvolvedores */
/* Estilos dos desenvolvedores */
.developer {
    background-size: cover; /* Utiliza toda a área disponível para cobrir o elemento */
    background-repeat: no-repeat;
    background-color: #b9b6b6;
    padding: 20px; /* Ajusta o preenchimento interno para espaçamento adequado */
    margin-right: 10px; /* Aumenta a margem direita para criar espaço entre os elementos */
    display: inline-block; /* Permite que os elementos de classe .developer sejam exibidos em linha */
    width: calc(33.33% - 20px); /* Define a largura para ocupar cerca de um terço da largura do contêiner pai, com uma margem adicional para espaçamento */
    box-sizing: border-box; /* Garante que o preenchimento e a borda sejam incluídos no cálculo da largura */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
}

/* Adiciona uma transição suave ao passar o mouse */
.developer:hover {
    opacity: 0.8; /* Reduz a opacidade ao passar o mouse para indicar interatividade */
}


.companies {
    text-align: center; /* Centraliza os elementos */
    margin-top: 20px;
}

.companies a {
    display: inline-block; /* Garante que as âncoras tenham dimensões */
    width: 60px; /* Reduz a largura */
    height: 60px; /* Reduz a altura */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7; /* Reduz a opacidade para tornar menos atraente */
    transition: opacity 0.3s ease; /* Adiciona uma transição suave de opacidade */
    margin: 0 50px; /* Adiciona um espaço entre as imagens */
    margin-top: 15px;
}

.companies a:hover {
    opacity: 1; /* Ao passar o mouse, aumenta a opacidade */
}

#activision { background-image: url("media/image/png/developer/activision.png"); }
#digital-legend { background-image: url("media/image/png/developer/legend.png"); }
#treayech { background-image: url("media/image/png/developer/treayech.png"); }
#high-moon { background-image: url("media/image/png/developer/high-moon.png"); }
#Infinity-Ward-Logo { background-image: url("media/image/png/developer/Infinity-Ward-Logo.png"); }
#raven { background-image: url("media/image/png/developer/raven.png"); }
#shelder { background-image: url("media/image/png/developer/shelder.png"); }

/* Estilos para a seção de Overview */
.overview {
    padding: 50px;
    margin: 1px #ffffff;
}

.overview-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.overview-img {
    flex: 1;
    margin-right: 20px;
    border-radius: 10px;
}

.overview-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.overview-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
}

.overview-text {
    margin-bottom: 20px;
}

/* Estilos para o título */
.title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    color: #fcfcfc; /* Cor do texto */
}

/* Estilos para o título dentro de um span (se necessário) */
.title span {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    color: #a09e12; /* Cor do texto */
}

.description {
    font-size: 20px;
}

/* Estilos para a seção de recursos */
/* Estilos para a seção de recursos */
.overview-features {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #a09e12;
}

/* Estilos para os parágrafos dentro da seção de recursos */
.overview-features p {
    margin-bottom: 10px;
    line-height: 1.6;
    position: relative;
    transition: transform 0.3s ease; /* Adiciona uma animação de transição suave */
}

/* Adiciona sombra sutil nos parágrafos ao passar o mouse */
.overview-features p:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona sombra sutil */
    transform: translateY(-2px); /* Eleva levemente o parágrafo */
}

/* Estilo adicional para destacar os pontos-chave */
.overview-features strong {
    font-weight: bold;
    color: #007bff;
}

#overview-zero {
    width: 60%; /* Ajuste conforme necessário */
    font-size: 18px; /* Aumentei o tamanho da fonte para melhor legibilidade */
    color: #333; /* Cor do texto */
}

#overview-one {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 28px; /* Aumentei o tamanho da fonte para maior destaque */
    margin-bottom: 15px; /* Aumentei a margem inferior para melhor espaçamento */
    color: #007bff; /* Cor azul para destaque */
}

#overview-two {
    color: #a09e12;
}

#overview-three {
    font-size: 16px; /* Ajuste conforme necessário */
    line-height: 1.6; /* Aumentei o espaçamento entre linhas para melhor legibilidade */
    color: #666; /* Cor do texto */
}

#overview-five {
    width: 35%; /* Ajuste conforme necessário */
    font-size: 16px; /* Ajuste conforme necessário */
    color: #333; /* Cor do texto */
}

.ac {
    font-family: "font-family:";
    font-size: 20px; /* Ajuste conforme necessário */
    color: #a09e12;
    margin-bottom: 10px; /* Aumentei a margem inferior para melhor espaçamento */
}

.dc {
    font-family: "font-family:";
    font-size: 18px; /* Ajuste conforme necessário */
    color: #fff;
    margin-bottom: 15px; /* Aumentei a margem inferior para melhor espaçamento */
}

/* Estilos da seção "BARRAS" */
/* Estilos da seção "BARRAS" */
.bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1212123b; /* Cor de fundo mais escura para maior contraste */
    color: #fff;
    border-color: #000000;
}

/* Estilos das barras */
.bar, .bar-three {
    width: 30%;
    height: 20px;
    background-color: #a09e12;
    border-radius: 5px; /* Bordas arredondadas */
}

/* Estilo para o texto centralizado */
.bar-two {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    color: #fcfcfc; /* Cor do texto */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para o título dentro de um span (se necessário) */
.bar-two span {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; /* Converte o texto para maiúsculas */
    color: #a09e12; /* Cor do texto */
}

/* Estilos adicionais para melhor legibilidade e estética */
.bars p {
    margin: 0; /* Remover margens padrão */
    font-size: 40px; /* Tamanho de fonte menor para barras */
}

/* Efeito de hover para destacar as barras */
.bar:hover, .bar-three:hover {
    opacity: 0.7; /* Reduzir a opacidade ao passar o mouse para indicar interatividade */
}

/* Estilos da seção "THREE_IMG" */
.poster {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos sejam distribuídos em várias linhas */
    justify-content: space-between;
    align-items: flex-start; /* Alinha os itens no topo */
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.container,
.container-middle,
.container-third {
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: revert-layer;
    align-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilos para as imagens dentro dos containers */
/* Estilos para as imagens dentro dos containers */
.container img,
.container-middle img,
.container-third img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
/* Estilos para os textos dentro dos containers */
.container .mp,
.container-middle .mp,
.container-third .mp,
.container .mc,
.container-middle .mc,
.container-third .mc {
    font-family: "font-family:";
    color: #fff;
    text-align: center; /* Centraliza horizontalmente */
    margin: 0 10px; /* Adiciona margem aos textos */
}

/* Estilos adicionais para o título */
.mp {
    font-size: 30px; /* Tamanho da fonte */
    font-weight: bold; /* Define como negrito */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: center; /* Alinha o texto ao centro */
    transition: color 0.3s ease; 
}


/* Estilos adicionais para o texto */
.mc {
    font-size: 15px; /* Tamanho da fonte */
    line-height: 1.5; /* Espaçamento entre linhas */
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: justify; /* Justifica o texto */
    color: #ccc; /* Cor do texto */
}
.box {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens sejam distribuídos em várias linhas */
    justify-content: space-around; /* Distribui os itens igualmente com espaços entre eles */
    align-items: center; /* Centraliza verticalmente */
    padding: 20px; /* Espaçamento interno */
}

/* Estilos adicionais para os elementos dentro da classe ".box" */
.box > * {
    flex: 0 1 calc(30% - 20px); /* Define a largura de cada item */
    margin-bottom: 20px; /* Espaçamento entre os itens */
    padding: 15px; /* Espaçamento interno dos itens */
    border-radius: 10px; /* Borda arredondada */
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com transparência */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilos para garantir que os itens tenham a mesma altura */
.box::after {
    content: ''; /* Conteúdo vazio para a pseudo-classe */
    flex: auto; /* Permite que o espaço vazio seja distribuído entre os itens */
}


/* Estilos para as caixas pretas */
.black-box,
.black-box-middle,
.black-box-third {
    width: 30%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo com transparência */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilos para a seção "short" */
.short {
    background: url("media/image/jpg/poster-banner/");
    height: 100vh;
    position: relative;
}

/* Estilos para o elemento ".before" */
.before {
    background: linear-gradient(270deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, .7) 40%, rgba(0, 0, 0, .4) 70%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    padding-bottom: 28%;
}

/* Estilos para o elemento ".ak" */
/* Estilos para o elemento ".ak" */
.ak {
    position: absolute;
    right: 0;
    padding-right: 3%;
    padding-top: 12%;
    color: #fefffe;
    font-family: "font-family:";
    font-size: 24px;
}

/* Estilos para o texto "Get Ready" */
.get {
    font-family: "font-family:";
    font-size: 50px;
    margin-right: 37%;
    margin-bottom: 20px;
    border-bottom: 2px solid #a09e12;
    color: #fff; /* Cor do texto */
}

/* Estilos para o subtítulo "Ready to take action" */
.ready {
    font-family: "font-family:";
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #fff; /* Cor do texto */
}

/* Estilos para o botão "Learn More" */
.learn {
    font-family: "font-family:";
    font-size: 20px;
    background-color: #a09e12;
    color: #fefffe;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px; /* Adiciona bordas arredondadas */
    transition: background-color 0.3s ease; /* Adiciona transição suave de cor de fundo */
}

.learn:hover {
    background-color: #57560a; /* Altera a cor de fundo no hover */
}

/* Estilos da seção "intel" */
.intel {
    display: flex;
    margin-bottom: 5px;
}

.int, .int-two {
    background-color: #040404;
}

.int {
    width: 70.6%;
    height: 50px;
    margin-right: 5px;
}

.int p {
    color: #fefffe;
    font-family: "font-family:";
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 9px;
}

.int-two {
    width: 30%;
    height: 50px;
}

/* Estilos da seção "one" */
.one {
    display: flex;
    margin-bottom: 5px;
}

.two {
    width: 70%;
}

.three {
    background-color: #000;
    margin-bottom: 5px;
    padding: 40px;
    height: 100px;
}

.four {
    display: flex;
    height: 67.6%;
}

.five, .six, .eight, .nine {
    background-color: #000;
    margin-bottom: 5px;
    padding: 40px;
}

.five, .six {
    width: 50%;
}

.seven {
    width: 30%;
}

.eight {
    margin-left: 5px;
    height: 178px;
}

.nine {
    margin-left: 5px;
    height: 226px;
}

/* Estilos para a seção */
.sec {
    position: relative; /* Define a posição relativa para permitir posicionamento absoluto dentro da seção */
    width: 100%; /* Largura total */
    height: 500px; /* Altura desejada */
    background-image: url('./media/image/feature/avião.jpg'); /* URL da imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o espaço da seção */
    background-position: center; /* Centraliza a imagem de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    display: flex; /* Habilita o uso de flexbox */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
}

/* Estilos para o título de sombra */
.shadow-title {
    font-size: 40px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 60px; /* Espaçamento inferior */
}

/* Estilos para o subtítulo de sombra */
.shadow-subtitle {
    font-size: 24px; /* Tamanho da fonte */
}

/* Estilos para o subtítulo destacado */
.shadow-subtitle span {
    color: #a09e12; /* Cor do texto destacado */
    
}

.feature {
    color: #57560a;
    font-family: "font-family:";
    font-weight: 900;
    margin-bottom: 8px;
    
}

.feature-two, .feature-three {
    font-family: "font-family:";
    margin-left: 53px;
}

.feature-two {
    color: #e5e3e3;
    font-size: 17px;
    margin-bottom: 5px;
}

.feature-three {
    color: #a09e12;
    font-size: 15px;
}

.youtube {
    background-color: #a09e12;
    display: flex;
    padding: 20px;
}

.you-one, .select-box {
    background-color: #0e0e0e;
    width: 100%;
}
/* Estilos para a seção de recursos */
.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Estilos para cada item de recurso */
.feature-item {
    width: calc(50% - 50px); /* Define a largura dos itens para ocupar metade do espaço disponível */
    margin-bottom: 20px; /* Espaçamento inferior entre os itens */
    padding: 20px; /* Preenchimento interno */
    background-color: #57560a; /* Cor de fundo do item */
    color: #fff; /* Cor do texto */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.74); /* Sombra suave */
    display: flex; /* Ativa o modelo de layout flexível */
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
    position: relative; /* Permite o posicionamento absoluto de elementos filhos */
}


/* Efeito de hover para os itens de recurso */
.feature-item:hover {
    transform: translateY(-5px); /* Move o item para cima ao passar o mouse */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.783); /* Aumenta a sombra ao passar o mouse */
}

/* Estilos para o título do recurso */
.feature-title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaçamento inferior */
    color: #a09e12; /* Cor do texto */
}

/* Estilos para a parte destacada do título */
.feature-title span {
    color: #fefffe; /* Cor do texto destacado */
}


.youtube {
    background-color: #000000;
    display: flex;
    padding: 20px;
}

/* Estilos para o contêiner do vídeo */
.video-container {
    width: 80%; /* Reduz a largura do contêiner para 80% da largura disponível */
    max-width: 800px; /* Limita a largura máxima do vídeo */
    margin: 0 auto; /* Centraliza o contêiner na horizontal */
    overflow: hidden; /* Esconde qualquer conteúdo que transborde do contêiner */
    position: relative; /* Define a posição relativa para que os elementos filhos possam ser posicionados relativamente a este contêiner */
    padding-bottom: 42.5%; /* Proporção de aspecto para vídeos widescreen 16:9 (360/800 = 0.425) */
    height: 0; /* Define a altura como 0 para criar a proporção de aspecto */
}

/* Estilos para o vídeo incorporado */
.video-container iframe {
    position: absolute; /* Define a posição absoluta para o vídeo */
    top: 0; /* Alinha o vídeo ao topo do contêiner */
    left: 0; /* Alinha o vídeo à esquerda do contêiner */
    width: 100%; /* Define a largura do vídeo como 100% do contêiner */
    height: 100%; /* Define a altura do vídeo como 100% do contêiner */
    border: 0; /* Remove a borda do iframe */
}

/* Estilos para a caixa de seleção de recursos */
.feature-select-box {
    width: 100%; /* Define a largura da caixa de seleção como 100% */
    max-width: 600px; /* Limita a largura máxima da caixa de seleção */
    margin: 0 auto; /* Centraliza a caixa de seleção na horizontal */
    padding: 30px; /* Adiciona preenchimento interno */
    background-color: #a09e128b; /* Cor de fundo da caixa de seleção */
    border-radius: 5px; /* Adiciona cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692); /* Adiciona uma sombra suave */
}

/* Estilos para o texto "COMPRE A EDIÇÃO PADRÃO" */
.buy {
    font-size: 20px; /* Tamanho da fonte */
    font-weight: bold; /* Define como negrito */
    margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilos para o texto "SELECIONE UMA MISSÃO" */
.platform {
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Define como negrito */
    margin-top: 20px; /* Espaçamento superior */
}

/* Estilos para o seletor de missão */
.select {
    width: 100%; /* Define a largura como 100% */
    margin-top: 20px; /* Espaçamento superior */
}

/* Estilos para o seletor de missão */
.select select {
    width: 100%; /* Define a largura como 100% */
    padding: 10px; /* Adiciona preenchimento interno */
    border-radius: 5px; /* Adiciona cantos arredondados */
    border: 1px solid #000000; /* Adiciona uma borda sólida com cor cinza */
    background-color: #4a494922; /* Cor de fundo do seletor */
    color: #f9f3f3; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor ao pairar sobre o seletor */
}

.three-platform a {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.three-platform a:hover {
    transform: scale(1.1);
}
/* Seção de plataformas */
.three-platform {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.download-div {
    margin-bottom: 20px;
}

.download-div p {
    font-size: 24px;
    margin-bottom: 10px;
}

.download-div p span {
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #a09e12;
    padding: 5px 10px;
}

.three-platform a {
    margin: 0 10px;
}

.three-platform a img {
    width: 100px;
}

/* HR */
.sep-2 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #f0f0f0, #28282B, #28282B, #f0f0f0);
    margin: 30px 0;
}

/* FOOTER */
footer {
    background-color: #040405;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin-top: 20px;
}

.legal a {
    color: #fefffe;
    text-decoration: none;
    margin: 0 5px;
}

.legal span {
    margin: 0 5px;
}

.cyber {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.punk-one,
.punk-three {
    width: 150px;
    height: 250px;
    background-color: #0a0a0a;
    border-top: 5px solid #fefffe;
}

.punk-two {
    width: 70%;
    height: 20px;
    background-color: #000000;
    border-top: 5px solid #fefffe;
    position: relative;
    top: -125px;
}

.warning,
.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.warning a,
.social a {
    margin: 0 10px;
}

.warning a img,
.social a img {
    width: 30px;
    height: 30px;
}
